<?xml version="1.0"?>
<config>
<modules>
	<Matheus_ImportReviews>
	<version>0.1.0</version>
	</Matheus_ImportReviews>
</modules>

<global>
        <helpers>
            <matheus_importreviews>
                <class>Matheus_ImportReviews_Helper</class>
            </matheus_importreviews>
        </helpers>
        <blocks>
            <matheus_importreviews>
                <class>Matheus_ImportReviews_Block</class>
            </matheus_importreviews>
        </blocks>
</global>

<admin>
        <routers>
            <importreviews_admin>
            <use>admin</use>
                <args>
                    <module>Matheus_ImportReviews</module>
                    <frontName>import_reviews</frontName>
                </args>
            </importreviews_admin>
        </routers>
    </admin>

</config>
